body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.body-size {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    flex: 1;
}
.banner {
    background-color: orange;
    position: relative;
    width: 100%;
}
.banner-text {
    margin: 0 auto;
    text-align: center;
    word-spacing: 4px;
    line-height: 2;
}
.header {
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
.search {
    overflow: hidden;
}
.search input[type=text] {
    padding: 6px;
    border: 1px solid black;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.icons {
    padding-right: 10px;
}
.cartAmount {
    position: absolute;
    display: block;
    background-color: red;
    border-radius: 100%;
    width: 25px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: -15px;
    text-align: center;
    color: white;
}
.slider {
    margin-left: -100px;
    width: 1000px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.slides {
    width: 100%;
    height: 300px;
    display: flex;
}
.slides input{
    display: none;
}
.slide {
    width: 100%;
    transition: 2s;
}
.slide img{
    width: 1000px;
    height: 300px;
}
.nav_man{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.man_btn{
    border: 3px solid white;
    padding: 6px;
    border-radius: 100px;
    cursor: pointer;
    transition: 1s;
}
.man_btn:not(:last-child){
    margin-right: 40px;
}
.man_btn:hover{
    background: grey;
}
#r1:checked ~ .first{
    margin-left: 0;
}
#r2:checked ~ .first{
    margin-left: -100%;
}
#r3:checked ~ .first{
    margin-left: -200%;
}
.nav_auto{
    position: absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-top: 260px;
}
.nav_auto div{
    border: 3px solid white;
    padding: 6px;
    border-radius: 100px;
    transition: 1s;
}
.nav_auto div:not(:last-child){
    margin-right: 40px;
}
#r1:checked ~ .nav_auto .a_btn1{
    background: gray;
}
#r2:checked ~ .nav_auto .a_btn2{
    background: gray;
}
#r3:checked ~ .nav_auto .a_btn3{
    background: gray;
}

.item {
    margin: 0 auto;
    height: 600px;
    width: 500px;
    background: transparent;
}
.shop {
    justify-content: center;
}
.add {
    margin-top: -80px ;
    font-size: xx-large;
    color: grey;
    background-color: white;
    height: 52px;
    width: 80px;
}
.add button {
    background-color: transparent;
    color: grey;
}
.add button:hover{
    color: black;
}
.add button:active {
    color: red;
}
.cena{
    color: black;
    background-color: white;
    font-size: 40px;
    margin-top: -50px;
    text-align: right;
}
h1 {
    font-size: 50px;
    text-align: center;
}
footer {
    position: relative;
    background-color: black;
    width: 100%;
}
.footer-content {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    width: 800px;
    margin: 0 auto;
    color: lightgrey;
    font-size: 20px;
    word-spacing: 4px;
    display: flex;
}
.footer-content a {
    color: white;
    text-decoration: none;
}
.footer-content a:hover {
    color: white;
}
.footer-content a:active {
    color: white;
}
.odkazy td{
    text-decoration: none;
    padding: 0;
}
.okuliare {
    height: 600px;
    width: 500px;
}
.okuliare2 {
    margin: 0 auto;
    height: 500px;
    width: 500px;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.popup img {
    width: 100%;
    height: 100%;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}
h5 {
    font-size: 26px;
    text-align: left;
}
h2 { 
    font-size: 22px;
    display: inline;
}
h3 {
    font-size: 14px;
    color: grey;
    display: inline;
}
a {
    color: black
}
a:hover {
    color: black;
}
a:active {
    color: red;
}
.posun {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 40px;
}
.butcart {
    text-align: right;
}
.icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.options-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid black;
}
.option {
    padding: 10px;
    cursor: pointer;
    text-align: left;
}
.option:hover {
    background-color: lightgrey;
}
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.popup-content {
    background-color: #fff;
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
}
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.popup-open {
    overflow: hidden;
}

.cards {
    display: flex;
    height: 0;
}
.cards td {
    padding: 5px;
}
.cards img {
    height: 2.5rem;
}
.social {
    display: flex;
    height: 0;
    text-align: right;
}
.social td {
    padding: 5px;
}
.social a {
    color: blue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
td {
    padding: 15px;
    font-weight: bold;
    font-size: large;
}
th {
    color: white;
}
.increments1 {
    padding: 5px;
    padding-left: 15px;
}
.increments2 {
    padding: 5px;
    padding-right: 15px;
}
.kupon-form {
    display: inline;
}
.kupon-poslat {
    background-color: black;
    height: 30px;
    margin-left: -38px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-bottom: 4.5px;
}
.formular form {
    display: flex;
    flex-direction:column;
    width: 300px;
    height: 400px;
}
.formular {
    display: flex;
}
.formular table {
    margin: 0 auto;
}
.formular td {
    padding: 10px;
}
.formular input {
    width: 250px;
}
ul {
    font-weight: bolder;
}
.searchicon {
    margin-left: -50px;
    background-color: transparent;
    color: black;
}
.spcena {
    text-align: left;
    margin-top: -50px;
}
.uscena {
    text-align: left;
    margin-left: 20px;
}
.form_udaje {
    width: 500px;
    text-align: left;
    display: flex;
}
.form_udaje input {
    width: 500px;
    height: 25px;
    border: 2px solid black;
    padding-top: 5px;
    display: block;
}
.form_udaje form {
    padding-top: 20px;
    font-size: 14px;
}
.form_udaje p {
    display: inline;
}
